body {
    font-family: Arial, sans-serif;
    background-image: url('flier-check.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    background-color: #bc800ff9;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #AAAAAA;
}

h2 ,h3 {
    color: #fff;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
label {
    color: white;
    text-align: left;
    font-weight: bold;
}
input[type="text"], input[type="password"] {
    display: block;
    width: 50%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 16px;
}
button{
    background-color:#716c4e;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
button[type="reset"]{
    background-color: #716c4e;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #3E8E41;
}
button[type="reset"]:hover {
    background-color: #b42c35;
} 
  .center-container {
    text-align: center;
    background-color: #fff; /* Set your desired background color for the container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for a lifted effect */
  }
  .logo {
    max-width: 100%; /* Make sure the logo doesn't exceed its container */
  }